//colors
$primary: #002F83;
$secondary: #3B85BE;
$blue-navy:#002F83;
$gray:#E4E4E5;
$body-color: #3C444C;
$spacer: 3rem !default;


// Grid breakpoints (override defaults)
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1314px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1314px
);
