// MAIN CSS FOR PROJECT

@keyframes Gradient {
    0% {
        background-position: 0% 40%
    }
    100% {
        background-position: 40% 100%;
    }
}

body{
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
}
p {
    font-size: .95rem;
    color: $grayDark;
    font-weight: 500;
}
$gradient-corporate1 : linear-gradient(to right, $green 0%, $primary 100%);
$gradient-corporate2 : linear-gradient(to right, $blueLight 0%, $primary 100%);
$gradient-corporate3 : linear-gradient(to right, #1D2088 0%, #5271FF 100%);
$gradient-corporate4 : linear-gradient(to right, $primary 0%, $secondary 51%);
$gradient-corporate5 : linear-gradient(0deg, $gray-100 0%, $white 100%);
$gradient-corporate-inverse : linear-gradient(to left, $green 0%, $primary 100%);

.bg-corporate1 {
    background: $gradient-corporate1;
}
.bg-gradient1 {
    background-image: $gradient-corporate1;
}
.bg-corporate2 {
    background: $primary;
}
.bg-corporate3 {
    background: $gradient-corporate3;
}
.bg-corporate-inverse {
    background: $gradient-corporate-inverse;
}
.bg-blue-light {
    background-color: $blueLight;
}
.bg-gray {
    background: $grayLight;
}
.bg-orange {
    background-color: #FAB32B;
}
.bg-magenta {
    background-color: $magenta;
}
.bg-yellow {
    background-color: $workYellow;
}
.bg-darkblue {
    background-color: $workDarkBlue
}
.bg-contenido-1 {
    background-image: url(../img/home/bg-activities-news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-contenido-2 {
    background-image: url(../img/context/bg-contenido02.png);
    background-size: 490px auto;
    background-repeat: no-repeat;
    background-position: center bottom;

    @media (max-width: 990px) {
        background-size: 390px auto;
        padding-top: 3rem;
        background-position: center 4rem;
    }
}
.bg-contenido-3 {
    background-image: url(../img/project/bg-consorcio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-ball-1 {
    background-image: url(../img/project/bg-ball-magenta.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    min-height: 232px;
    
    @media (max-width:990px) {
        background-position: center center;
        .text-right {
            text-align: center!important;
            max-width: 240px;
            margin: 1rem auto!important;
        }
    }
}
.bg-ball-2 {
    background-image: url(../img/project/bg-ball-aqua.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    min-height: 232px;
    
    @media(max-width:990px) {
        background-position: center center;
        .text-center {
            text-align: center!important;
            max-width: 220px;
            margin: 1rem auto!important;
        }
    }
}
.bg-ball-3 {
    background-image: url(../img/project/bg-ball-aqua-trans.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    min-height: 232px;
    
    @media (max-width:990px) {
        background-position: center center;
        .text-right {
            text-align: center!important;
            max-width: 140px;
            margin: 0 auto!important;
        }
    }
}
.black {
    font-weight: 800;
    color: $black;
    text-decoration: underline;
}
.darkBlue {
    color: $darkblue!important;
}
.workBlue {
    color: $workBlue;
}
.border-workBlue {
    border: 1px solid $workBlue!important;
}
.orange {
    color: $orange!important;
}
.border-workOrange {
    border: 1px solid $orange!important;
}
.workGreen {
    color: $workGreen;
}
.border-workGreen {
    border: 1px solid $workGreen!important;
    margin-right: 14px;
    @media (max-width: 990px) {
        margin-right: 0px;
    }
}
.workPink {
    color: $workPink;
}
.border-workPink {
    border: 1px solid $workPink!important;
    margin-left: 16px;
    @media (max-width: 990px) {
        margin-left: 0px;
    }
}
.workYellow {
    color: $workYellow!important;
}
.border-workYellow {
    border: 1px solid $workYellow!important;
}
.workMagenta {
    color: $primary!important;
}
.border-workMagenta {
    border: 1px solid $primary!important;
} 
.workDarkBlue {
    color: $workDarkBlue!important;
}
.border-workDarkBlue {
    border: 1px solid $workDarkBlue!important;
}
.magenta {
    color: $magenta;
}
.text-orange {
    color: #FAB32B;
}
.orange {
    color: $secondary!important;
}
.shadow {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.15);
}
.container {
    max-width: 1440px;
}
.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// cookie bar & browser bar
#cookie-bar{
    font-size: 12px;
    line-height: 18px;
    background: $black;
    text-align: center;
    padding: 20px;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    p{
        margin: 0;
        padding: 0;
        color: white;
        .cb-enable{
            display: inline-block;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 15px;
            padding: 8px 15px;
            background: $primary;
            border-radius: 4px;
            &:hover,
            &:focus{
                background: $link-hover-color;
            }
        }
    }
}
#browser-bar{
    font-size: 14px;
    line-height: 18px;
    background: $gray-900;
    color: white;
    text-align: center;
    padding: 15px 20px;
    display: block;
    width: 100%;
    p{
        margin: 0;
        padding: 0;
        .cb-enable{
            display: inline-block;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 0 0 10px;
            padding: 8px 15px;
            background: $primary;
            border-radius: 4px;
            &:hover,
            &:focus{
                background: $link-hover-color;
            }
        }
    }
}
// ////////////////////// átomos o elementos sueltos
object { max-width: 100%;}
img { max-width: 100%;}
h1{
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0;
    line-height: 2.7rem;
    animation: header-anim 1.5s ease;

    @keyframes header-anim {
        0% {
            transform: translateY(28px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
h2 {
    color: $darkblue;
    font-size: 1.95rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;

    &.title {
        line-height: .9!important;
    }

    &.title a {
        text-transform: initial;
        font-weight: 500;
        font-size: 1.25rem;
        letter-spacing: 0px!important;
        color: $black!important;
        text-decoration: none;

        @media(max-width: 990px) {
            line-height: 1.7rem;
        }
    }
}
h3{
    font-size: 1.6rem;
}
h3.work {
    font-size: 2rem;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-left: 0;
}
h4{
    font-size: 1.3rem;
    &.card-title {
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 600;
    }
}
h5{
    font-size: 1.1rem;
}
h5.upper-case {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .25rem;
    text-transform: uppercase;
}
h6 {
    font-size: 1.03rem;
    font-weight:600
}
.align-baseline {
    align-items: baseline;
}
.vertical {
    font-size: 2rem;
    font-weight:800;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding-left: 0;
    transform: rotate(-90deg);

    @media (max-width: 780px) {
    transform: rotate(0deg);
    }
}
.intro {
        font-size: 1.05rem;
        font-weight: 400;
        line-height: 1.9rem;
        color: $black;
}
.introDestacado {
        font-size: 1.05rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.7rem;
        letter-spacing: 4px;
        color: $black;
}
.textDestacado {
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 2px;
        font-size: 1.2rem;
        color: $primary;
}
.p-300 {
    font-weight: 300!important;
}
.p-arrow{
    display:inline-block;
    background: url(../img/project/arrow-yellow-work.svg) no-repeat 0px 7px;
    padding-left: 2rem;
}
.number {
    font-size: 6rem;
    font-weight: 600;
    color: $primary;
    display: block;
    &.numSmall{
        font-size: 4rem;
    }
}
.data {
    font-size: .8rem;
    font-weight: 800;
    color: $black;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
}
.small-2 {
    position: relative;
    display: block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: .5rem;
}
.rounded {
    border-radius: 50%!important;
    width: 100%;
    height: 100%;
    max-width: 300px;

    @media(max-width: 990px) {
        max-width: 100%;
    }
}
.contrast-1 {
    &:hover {
        .bg-white {
            background: $workDarkBlue!important;
        }
        .workDarkBlue {
            color: $white!important;
        } 
        p {
            color: $white!important;
        }
    } 
}
.arrow-bottom-vert {
    &:after {
        position: absolute;
        content:'';
        right: 40%;
        top: 48px;
        width: 2rem;
        height: 18px;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background: url(../img/all/arrow-blue.svg) no-repeat center bottom;
        transition: .2s;

        @media (max-width: 990px) {
            background: url(../img/all/arrow-white.svg) no-repeat center bottom;
            right: 42%;
            top: 53px;
        }

    } 
}
.goUp {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: .85rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none!important;
    color: $white;
    background: $gradient-corporate1;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.15);
    transition: .2s ease-in;

    &:hover {
        background-size: 150%;
        box-shadow: none;
        color: $white;
    }

    &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 25px;
        width: 10px;
        height: 50px;
        background: url(../img/all/arrow-white-up.svg) no-repeat 0 0;
        transition: .2s ease-in;
    }
    &:hover::before {
            top: 10px;
        }
} 
.grow {
    transition: .2s ease-in;
}
.grow:hover {
    position:relative;
    text-decoration: none;
    transform: scale(1.09)!important;
}
.btn-descarga {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: 3px;
    color: white!important;
    text-transform: uppercase;
    padding: 0.9rem 2.5rem;
    background-image: $gradient-corporate1;
    padding-left: 3.5rem;
    border: 0px;
    transition: .5s;

    &:before {
        content: '';
        position: absolute;
        left: 22px;
        top: 12px;
        width: 24px;
        height: 24px;
        background: url(../img/all/arrow-download.svg) no-repeat 0 0;
        transition: .5s ease-in;
        transform: rotate(-90deg);
    }
    &:hover{
        color: white!important;
        text-decoration: none!important;
        background-size: 150%;

        &:before  {
            top: 13px;
            transform: rotate(360deg);
        }
    }
} 
.fixed-top {
    z-index:1040;
} 
.max-width-2 {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.add {
    position: absolute;
    top: 45%;
    right: -1.5rem;
    z-index: 1000;
}
.figure {
    position: relative;
    .figure-caption {
        float: right;
        background: $white;
        padding: 0 10px;
        font-size: .8rem;
        margin-bottom: -1.1rem;
    }
}
.badge {
    background: $gray-200;
    &:hover {
        background: $primary;
        color: $white; 
    }
}
.relative-index-5 {
    position: relative;
    z-index: 5;
} 
.relative-index-3 {
    position: relative;
    z-index: 3;
}
.margin-minus-6 {
    margin-top: -6rem;

    @media (max-width: 1280px) {
        margin-top: 0;
    }
}
.flex-grow1{
    flex-grow: 1;
}
.flex-grow2{
    flex-grow: 2;
}
.flex-grow3{
    flex-grow: 3;
}
.flex-grow4{
    flex-grow: 4;
}
.flex-shrink1{
    flex-shrink: 1;
}
.flex-shrink2{
    flex-shrink: 2;
}
.flex-shrink3{
    flex-shrink: 3;
}
.flex-shrink4{
    flex-shrink: 4;
}
.line-height-1 {
    line-height: 1.75rem;
}
.medium {
    font-size: 1.05rem;
    font-weight: 400;
}
@media (max-width: 990px) {
   .reverse {
        flex-direction: column-reverse!important;
    }
}
.mt-negative-3 {
    position: relative;
    margin-top: -9rem!important;

    @media (max-width: 990px) {
        margin-top: 0!important;
    }
}
.mb-negative-3 {
    position: relative;
    margin-bottom: -5rem!important;

    @media (max-width: 990px) {
        margin-bottom: 7rem!important;
    }
}
.mt-negative-2 {
    position: relative;
    margin-top: -2rem!important;

    @media (max-width: 990px) {
        margin-top: 0!important;
    }
}
.mr-negative-2 {
    position: relative;
    margin-right: -2rem!important;

    @media (max-width: 990px) {
        margin-right: 0!important;
    }
}
.ml-negative-3 {
    position: relative;
    margin-left: -33%!important;

    @media (max-width: 990px) {
        margin-left: 0!important;
    }
}  
.btn {
      padding: 0.9rem 2.5rem;
      transition: 0.2s;
      background-size: 200% auto;
     &:hover {
        background-position: right center;
    }
}
.multiply {
    mix-blend-mode: multiply;
}
.btn-corporate1 {
    color: $white;
    border-radius: 0;
    border: 0px;
    font-weight: bold;
    font-size: .8rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    background: $gradient-corporate1;
    padding-right: 6rem;
    position: relative;
    transition: .3s;
    &:after {
        position: absolute;
        content:'';
        right: 3rem;
        top: 34%;
        width: 3.5rem;
        height: 15px;
        background: url(../img/all/arrow-orange.svg) no-repeat right center;
        transition: .3s;
    }
    &:hover{
        color: $white;
        background-size: 150%;
        box-shadow: none!important;
        &:after {
            right: 2rem;
        }
    }
}
.btn-corporate2 {
   color: $primary;
   background-image: $gradient-corporate2;
}
.btn-data-users,
.btn-data-owners {
    display: block;
    position: relative;
    margin-top: 2rem;
    padding: 2rem 1rem;
    color: white!important;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    background: $gradient-corporate1;
    border: 0px;
    border-radius: .5rem;
    transition: .3s;
    &:after {
        opacity: 0;
        position: absolute;
        content:'';
        right: 48%;
        top: 0%;
        width: 1rem;
        height: 15px;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background: url(../img/all/arrow-white.svg) no-repeat right center;
        transition: .3s;

        @media (max-width: 990px) {
            opacity: 1;
            top: 65%;
        }
    }
    &:hover{
        color: white!important;
        background-size: 150%;
        text-decoration: none;
        box-shadow: none!important;

        &:after {
            opacity: 1;
            top: 65%;
        }
    }
    @media (max-width: 768px) {
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.data-owners {
    .data-owners1,
    .data-owners2 {
        transition: .5s;
        opacity: 0;
    }
    @media (max-width:990px) {
        .data-owners1,
        .data-owners2 {
            opacity: 1;
        }
    }

    &:hover {
        .data-owners1,
        .data-owners2 {
            opacity: 1;
        }
    }
}
.data-users {
    .data-users1,
    .data-users2,
    .data-users3 {
        transition: .5s;
        opacity: 0;
    }
    @media (max-width:990px) {
        .data-users1,
        .data-users2,
        .data-users3 {
            opacity: 1;
        }
    }
    &:hover {
        .data-users1,
        .data-users2,
        .data-users3 {
            opacity: 1;
        }
    }
}
.data-owners1,
.data-owners2,
.data-users1,
.data-users2,
.data-users3 {
    margin: 1rem auto 0rem auto;
    width: 65%;
    height: 0px;
    line-height: 1rem;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 6rem solid $blue;

    p {
        align-self: center;
        color: $white!important;
    }
    @media (max-width: 990px) {
        p {
            font-size: small;
        }
    }
    @media (max-width: 768px) {
        p {
            padding-top: 1rem;
        }
    }
}
.data-users2 {
    width: 80%;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 7rem solid $blue;
}
.data-users3 {
    width: 96%;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 6rem solid $blue;
}
.data-owners1 {
    width: 55%;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 5rem solid $blue;

    @media (max-width: 990px) {
        width: 90%;
    }
}
.data-owners2 {
    width: 70%;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 5rem solid $blue;

    @media (max-width: 990px) {
        width: 100%;
    }
}

@media (max-width: 990px) {
    .data-owners1,
    .data-owners2,
    .data-users1,
    .data-users2,
    .data-users3 {
        width:100%;
        max-width: 20rem;
        border-right: 30px solid transparent;
        border-left: 30px solid transparent;
        border-bottom: auto solid transparent;
        background-color: $blue;
        border-radius: 5px;
    }
}

.align-self-center {
    align-self: center;
}
.rotate-vertical-right {
    -moz-transform: rotate(296deg);
    -webkit-transform: rotate(296deg);
    -o-transform: rotate(296deg);
    -ms-transform: rotate(296deg);
    transform: rotate(296deg);
}
.rotate-vertical-left {
    -moz-transform: rotate(242deg);
    -webkit-transform: rotate(242deg);
    -o-transform: rotate(242deg);
    -ms-transform: rotate(242deg);
    transform: rotate(242deg);
}
.before-double-line::before {
    content: url(../img/all/ico-lines.svg);
    position: absolute;
    top: 126px;
    left: 158px;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
        }

        @-webkit-keyframes fadeInDown {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }
        @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
    }
  } 
.carousel{
    .render{
        max-width: 36rem;
        height: 30rem;
        padding-bottom: 3rem;
        margin: 3rem 0 0 0;
        display: flex;
        background: url(../img/home/product-bg4.svg) no-repeat center bottom/100%;
        object, img {
            align-self: flex-end;
            margin: 0 auto;
            min-width: 22rem;
            max-height: 28rem;
        }
    }
    .carousel-control-prev, .carousel-control-next {
        background: rgba(255,255,255,.9);
        width: 4rem;
        .carousel-control-prev-icon{
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230F4683' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
        .carousel-control-next-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230F4683' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
    }
}

.bloques {
    opacity: 0;
    transition: opacity 2s ease;
}
.bloques.is-visible {
    opacity: 1;
    animation: bloque-anim 2s ease;

  @keyframes bloque-anim {
        0% {
            transform: translateY(28px);
        }
        100% {
            transform: translateY(0);
        }
    }
}

.slick-prev {
    left: -5px;
}
.slick-next {
    right: -5px;
}
.slick-prev:before,
.slick-next:before {
    content: url(../img/all/slider-left.svg)!important;
    width: 18px;
    height: 44px;
    opacity: 1;
}
.slick-next:before {
    content: url(../img/all/slider-right.svg)!important;
}

#gaia {
    line, polyline {
        stroke-dasharray: 235;
        stroke-dashoffset: 235;
        animation: line-anim 1s linear forwards 1.5s;

        @keyframes line-anim {
            100% {
                stroke-dashoffset: 0;
            }
        }
    }
    circle {
        stroke-dasharray: 33;
        stroke-dashoffset: 33;
        animation: circle-anim 1s linear forwards 2.5s;

        @keyframes circle-anim {
            100% {
                stroke-dashoffset: 0;
            }
        }
    }
    .marco {
        stroke-dasharray: 1160;
        stroke-dashoffset: 1160;
        animation: marco-anim 1.5s linear forwards 3.5s;

        @keyframes marco-anim {
            100% {
                stroke-dashoffset: 0;
            }
        }
    }
    .gaia {
        fill: #2D78BD;
        fill-opacity: 0;
        stroke-dasharray: 1160;
        stroke-dashoffset: 1160;
        animation: gaia-anim .5s linear forwards 4.5s;

        @keyframes gaia-anim {
          from { fill-opacity: 0; }
          to { fill-opacity: 1; }
        }
    }
}
.wp1 {
    @media (max-width: 990px) {
        .col-md-6 {
            flex: 0 0 80%;
            max-width: 80%;
        }
        .row {
            margin-right: 0px;
            margin-left: 0px;
        }
        .introDestacado {
            text-align: center;
        }
    }
}
.columnas {
    column-count: 2;
    column-gap: 4rem;

    @media (max-width: 990px) {
    .col-md-5 {
        flex: 0 0 80%;
        max-width: 80%;
    }
    column-count: 1!important;

        .order-1 {
            order: 1;
        }
        .order-2 {
            order: 5!important;
        }
        .order-3 {
            order: 2;
        }
        .order-4 {
            order: 4;
        }
        .order-5 {
            order: 2;
        }
        .order-6 {
            order: 6;
        }
    }

}
.avoid {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;
}
.bg-white-round {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: -7rem;
    background-color: $white;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0, .1)!important;
    img {
        margin-top: 5em;
        margin-left: 1em;
        padding-right: 1.5rem;
    }

    @media (max-width: 990px) {
        margin-bottom: 1rem;
    }
}
.lista-flotada {
    .bg-white-round {
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: $white;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
        box-shadow: 5px 5px 5px rgba(0,0,0, .1)!important;
        img {
            margin-top: 4.7em;
            margin-left: 1em;
        }
    }
    ul {
        align-self: center;
        display: inline-block;
        list-style-type: none!important;
        padding-left: 0;
    }
    li {
        padding: 0rem 0 .8rem .8rem;
        margin: 0;
        list-style-type: none!important;
        font-size: .8rem;
        letter-spacing: 0;
        font-weight: 600;
        text-transform: uppercase;
        color: $black;
        border-bottom: 1px solid #0ba3e4;

        &.icon-right {
            text-align: right;
            margin-right: 1rem;

            &.icon-right:nth-child(1)::after,
            &.icon-right:nth-child(2)::after,
            &.icon-right:nth-child(3)::after,
            &.icon-right:nth-child(4)::after {
                position: relative;
                content: url(../img/context/icono-research-insights.svg);
                color: #333;
                right: 0px;
                top: 7px;
                padding-left: 1em;
            }
            &.icon-right:nth-child(2)::after {
                content: url(../img/context/icono-networking-events.svg);
            }
            &.icon-right:nth-child(3)::after {
                content: url(../img/context/icono-certification.svg);
            }
            &.icon-right:nth-child(4)::after {
                content: url(../img/context/icono-defining-standars.svg);
            }

        }
        &.icon-left {
            text-align: left;
            margin-left: 1rem;

            &.icon-left:nth-child(1)::before,
            &.icon-left:nth-child(2)::before,
            &.icon-left:nth-child(3)::before,
            &.icon-left:nth-child(4)::before {
                position: relative;
                content: url(../img/context/icono-user-driven-projects.svg);
                color: #333;
                left: 0px;
                top: 7px;
                padding-right: 1em;
            }
            &.icon-left:nth-child(2)::before {
                content: url(../img/context/icono-new-ids-business-model.svg);
            }
            &.icon-left:nth-child(3)::before {
                content: url(../img/context/icono-architecture-development.svg);
            }
            &.icon-left:nth-child(4)::before {
                content: url(../img/context/icono-research-industry.svg);
            }
        }
    }
    @media (max-width:990px) {
        ul {
            margin-bottom: 0!important;
            max-width: 370px;
            width: 100%;
        }
        text-align: center!important;
        margin: 0 auto!important;

        .icon-left {
            text-right: left!important;
            margin-left: 0!important;
        }
        .icon-right {
            text-align: left!important;
            margin-right: 0px !important;

            &.icon-right:nth-child(1)::before,
            &.icon-right:nth-child(2)::before,
            &.icon-right:nth-child(3)::before,
            &.icon-right:nth-child(4)::before {
                position: relative;
                content: url(../img/context/icono-research-insights.svg);
                color: #333;
                left: 0px;
                top: 7px;
                padding-right: 1em;
            }
            &.icon-right:nth-child(2)::before {
                content: url(../img/context/icono-networking-events.svg);
            }
            &.icon-right:nth-child(3)::before {
                content: url(../img/context/icono-certification.svg);
            }
            &.icon-right:nth-child(4)::before {
                content: url(../img/context/icono-defining-standars.svg);
            }
            &.icon-right:nth-child(1)::after,
            &.icon-right:nth-child(2)::after,
            &.icon-right:nth-child(3)::after,
            &.icon-right:nth-child(4)::after {
                display: none;
                padding-right: 0;
            }
        }
    }
}

.listBullet {
    list-style: none;
    li::before {
      content: "\2022";  
      color: $primary; 
      font-weight: bold; 
      display: inline-block;
      width: 1em; 
      margin-left: -1em; 
    }
}
.list-arrow {
    list-style: none;
    font-size: .95rem;
    font-weight: 500;
    color: #333;
    li{
        position: relative;
        padding-left: 2rem;
        padding-bottom: .9rem;
        &:before {
            position: absolute;
            background: url(../img/all/arrow-orange.svg) no-repeat 0 0 / 100%;
            content: "";  
            width: 20px; 
            height: 12px;
            left: 0;
            top: .4rem;
        }
    }
}
.list-arrow-workBlue,
.list-arrow-workOrange {
    list-style: none;
    font-size: .95rem;
    color: #333;
    li{
        position: relative;
        padding-bottom: .5rem;
        padding-left: 2rem;
        &:before {
            position: absolute;
            background: url(../img/project/arrow-blue-work.svg) no-repeat 0 0 / 100%;
            content: "";  
            width: 20px; 
            height: 12px;
            left: 0;
            top: .4rem;
        }
    }
}
.list-arrow-workOrange {
    li{
        &:before {
            background: url(../img/project/arrow-orange-work.svg) no-repeat 0 0 / 100%;
        }
    }
}

.listNumeric,
.listNumericBlue,
.listNumericGreen,
.listNumericDarkBlue {
    padding-left: 1.5rem;
}
.listNumeric li,
.listNumericBlue li,
.listNumericGreen li,
.listNumericDarkBlue li {
    list-style-type: none;
    padding-bottom: .5rem;
    counter-increment: lista; /* Un nombre identificativo que te guste */
    position: relative;
    font-size: .92rem;
}

.listNumeric li::before,
.listNumericBlue li::before,
.listNumericGreen li::before,
.listNumericDarkBlue li::before {
    content: counter(lista) "-"; /* Indica el separador para tu contenido */
    left: -22px;
    position: absolute;
    text-align: left;
    width: 26px;
}
.listNumericBlue {
    margin-top: 3rem;
    margin-left: 2rem;

    @media (max-width: 990px) {
        margin-top: 6rem;
        margin-left: 0px;
        padding-left: 0px!important;
    }

    li {
    border-top: 2px solid $workBlue;
    padding: 1.5rem 5rem 3rem 2rem;

    @media (max-width: 990px) {
        padding: 1.5rem 0rem 6rem 0rem;
    }

        p {
            font-size: 1.03rem;
            font-weight: 400;
        }
        ul {
            margin-left: 0;
            padding-left: 1.5rem;
        }
        ul li {
            border-top: 0px!important;
            padding: .5rem 1rem 0 0;
            counter-increment: none;
        }
        ul li::before {
            position: relative;
            content: "\2022";  
            color: $workBlue; 
            font-size: 1rem;
            font-weight: bold; 
            display: inline-block;
            width: 1em;
            top: 0px;
            left: 0px;
            margin-left: -1em; 
        }
    }

    li::before {
        content: counter(lista) "";
        top: -42px;
        left: -60px;
        position: absolute;
        text-align: left;
        width: 26px;
        font-size: 6rem;
        font-weight: 500;

        @media (max-width: 990px) {
            top: -77px;
            left: -3px;
            position: absolute;
            text-align: left;
            font-size: 4rem;
        }
    }
}
.listNumericGreen,
.listNumericDarkBlue {
    margin-top: 1rem;
    margin-left: 1.7em;

    li{
        padding-bottom: .5em;

        ul {
            margin-left: 0;
            padding-left: 1.5rem;
        }
        ul li {
            border-top: 0px!important;
            padding: .5rem 1rem 0 0;
            counter-increment: none;
        }
        ul li::before {
            position: relative;
            content: "\2022";  
            color: $workGreen; 
            font-size: 1rem;
            font-weight: bold; 
            display: inline-block;
            width: 1em;
            top: 0px;
            left: 0px;
            margin-left: -1em; 
        }
    } 
    li::before {
        content: counter(lista) "";
        top: 0px;
        left: -25px;
        position: absolute;
        text-align: left;
        width: 26px;
        font-size: 1rem;
        font-weight: 500;
        color: $workGreen;
    }
}
.listNumericDarkBlue {
    li {
        padding-bottom: 1rem;
        line-height: 1.7rem;
    }
    li::before {
        font-size: 1.25rem;
        font-weight: 600;
        color: $workDarkBlue;
    }
} 
.listNumericBlue {
    &.borderDarkBlue {
        li {
            border-top: 2px solid transparent!important;
            padding: 1.5rem 1rem 1rem 2rem;
            margin-bottom: 2rem;
            transition: .6s ease;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $workDarkBlue;
                transition: .6s ease;
            }

            img {
                width: 100%;
                max-width: 200px;
                mix-blend-mode: multiply;
            }
            
            @media (max-width: 1280px) {
                div.ml-auto {
                    margin-left: 0px!important;
                }
            }
        }
        li:hover {
            cursor: pointer;
            background-color: $blueLight;
            &::after {
                top: 100%;
                left: 0rem;
            }
        }
        a:hover {
            text-decoration: none!important;
        }
    }
} 
.listBlack li::before {
    color: $black;
}
.listBlue li::before {
    color: $workBlue;
}
.listDarkBlue li::before {
    color: $workDarkBlue;
}
.listMagenta li::before {
    color: $primary;
}

.listIcos {
    display: flex;
    flex-direction: row;
    li {
        text-align: center;
        margin: 0 0 0 0;
        color: $primary;
        img {
            margin: .5rem auto 1.5rem;
            display: block;
            transition: .2s;
            &:after {
                display:none;
            }
        }
        .mnt-1 {
            margin-top: -1.5rem;
        }
    }
}
.listGraficoOrange {
    list-style: none;
    width: 25rem;
    margin-left: -1.5rem;

    @media (min-width: 720px) and (max-width: 990px) {
        width: 20rem;
    }
    li {
        margin-bottom: 7rem;
        position: relative;
        padding-bottom: .5rem;
        padding-left: 2rem;

        @media (max-width: 760px) {
            margin-bottom: 2rem;
            .data {
                font-size: 12px!important;
            }
        }
        &:before {
            position: absolute;
            background: url(../img/project/arrow-orange-work.svg) no-repeat 0 0 / 100%;
            content: "";  
            width: 20px; 
            height: 12px;
            left: -2rem;
            top: 0rem;
            padding: 1.5rem
        }
    }
}
.actividadesTrabajo {
    a {
        display: block;
        height: 100%;
        min-height: 10rem;
        padding: 2rem 2rem 3rem;
        transition: .6s ease;

        &::after {
            position: absolute;
            left: 2rem;
            bottom: 2rem;
            width: 100px;
            height: 15px;
            content: '';
            transition: .2s ease;
            background: url(../img/all/arrow-blue.svg) no-repeat 1rem 0;
        }
    }
    a:hover {
        background-color: $white;
        text-decoration: none!important;
        box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.15);

        &::after {
            background: url(../img/all/arrow-blue.svg) no-repeat 2rem 0;
        }
    }
}
.arrow-news {
    display: block;

    a {
        display: block;
        height: 100%;
        min-height: 13rem;
        padding: 2rem 1rem 3rem;
        transition: .6s ease;

        &::after {
            position: absolute;
            left: 1.5rem;
            bottom: 2rem;
            width: 100px;
            height: 15px;
            content: '';
            transition: .2s ease;
            background: url(../img/all/arrow-blue.svg) no-repeat 1rem 0;
        }
    }
    a:hover {
        text-decoration: none!important;

        &::after {
            background: url(../img/all/arrow-blue.svg) no-repeat 2rem 0;
        }
    }
}
.logo-box {
    margin: -1rem auto 3rem;
    width: 100%;
    max-width: 310px;
    min-height: 280px;
    height: 100%;
    transition: .2s;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    img {
        transition: .2s;
    }
    &:hover {
        transform: scale(1.1);
    }
    a {
        display: block;
        color: $black;
    }
    a:hover {
        color: $workDarkBlue;
        text-decoration: none;
    }
}
.logo-box-small{
    width: 100%;
    max-width: 200px;
    min-height: 168px;
    @media (max-width: 990px) {
        max-width: 280px;
    }
}
.mn-6 {
    margin-top: -6em;
    @media (max-width: 990px) {
        margin-top: 0;
    }
}
.mbn-3 {
    margin-bottom: -3rem;
    @media (max-width: 990px) {
        margin-bottom: 3rem;
    }
}
.transparent {
    background-color: transparent !important;
    box-shadow: none !important;
} 
.techlist {
    margin: 3rem 0;
    span {
        display: block;
        color: $white;
    }
    object {
        width: 5rem;
        height: 4rem;
        margin-bottom: .8rem;
    }
}
.banner {
    overflow: hidden;
    .text {
        max-width: 420px;
        float: left;
        h3 {
            font-size: 1.7rem;
            font-weight: 800;
            letter-spacing: 4px;
        }
    }
    .btn {
        float: right;
        margin-top: 4%;
    }
}
.pager {
    display: inherit;
    ol {margin: 0;}
    a {
        margin: 0 .7rem;
        padding: .7rem;
        transition: .2;
        &:hover {
            background: $primary;
            color: $white;
            text-decoration: none;
        }
        &.prev {
            background: url('../img/all/prev.svg') no-repeat center / cover;
            color: $white;
            padding: 1rem 1.5rem 1rem 2.5rem;
            &:hover {
                opacity: .85;
            }
        }
        &.next {
            background: url('../img/all/next.svg') no-repeat center / cover;
            color: $white;
            padding: 1rem 2.5rem 1rem 1.5rem;
            &:hover {
                opacity: .85;
            }
        }
        &.active {
            background: $primary;
            color: $white;
            cursor: pointer;
        }
    }

    .team {
        height: 200px;
        width: 720px;
    }
}

.twitter {
    background: url('../ico/twitter.svg') no-repeat left top;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    span {
        display: none;
    }
}
.linkedin {
    background: url('../ico/linkedin.svg') no-repeat left top;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    span {
        display: none;
    }
}

// ////////////////////// header
header{
    margin: 0;
    display: block;
    text-transform: uppercase;
    nav{
        .navbar-aux {
            padding: .5rem 0 0;
            margin: 0;
            li {
                display: inline-block;
                a {
                    color: $white;
                    font-size: .7rem;
                    letter-spacing: 1px;
                    margin: 0 1rem 0 0;
                    font-weight: 600;
                }
                &.active {
                    a {
                        color: $secondary;
                    }
                }
            }
        }
        .power {
                padding: .3em 1em;
            }
        #logo{
            margin: 3.5rem 0 1rem;
            padding: 0;
            display:  inline-block;
            position: relative;
            a{	
                line-height: 1;
                display: block;
                width: 167px;
                height: 60px;
                margin: 0;
                background: url('../img/all/logo-wind2grid.svg') no-repeat left bottom;
                span{
                    display: none;
                }
            }
            &.no-svg a{
                background: url('../img/all/logo-wind2grid.png') no-repeat left bottom!important;
            }
        }
        .navbar-nav{
            text-transform: uppercase;
            margin: 4rem 0 0 0;
            li{
                display: inline-block;
                margin-right: 2.5rem;
                a {
                    padding: .5rem 0rem;
                    color: $primary;
                    font-weight: 800;
                    font-size: .9rem;
                    letter-spacing: 2px;
                    transition: all .4s;
                    &:hover {
                        color: $secondary;
                        text-decoration: none;
                    }
                }
                &.active {
                    a{
                        color: $secondary!important;
                        position: relative;
                        &:after {
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 2rem;
                            bottom: -.5rem;
                            left: 35%;
                            background: $primary;
                        }
                    }
                }
                &.dropdown {
                    .active {
                        color: $secondary!important;
                        &:before {
                            position: absolute;
                            content: '';
                            height: 1px;
                            width: 2rem;
                            bottom: -.5rem;
                            left: 20%;
                            background: $primary;
                        }
                    }
                    .dropdown-menu{
                        a{
                            &:after {
                              display: none;
                            }
                        }
                    }
                }
            }
        } 
        .lang {
            margin: 3.5rem 0 0 auto;
            li{
                border-right: 1px solid $primary;
                margin: 0!important;
                    line-height: 1em;
                a {
                    padding: 0 .5rem 0 0;
                    text-transform: uppercase;
                    font-size: .9rem;
                    margin: 0;
                    color: $primary;
                    &.active {
                        color: $secondary;
                        font-weight: bold;
                    }
                }
                &:last-child {
                    border: 0;
                }
            }
        }   
        
    }    
}

//////////////////// contenidos

footer {
    padding: 3rem 0;
    margin: 3rem 0 0 0;
    font-size: .9rem;
    .projectName {
        margin: 0 0 1rem;
    }
    ul {
        margin: 0;
        padding: 0;
        &.menufooter {
            li{
                font-weight: bold;
                font-size: 1rem;
                margin: 0 2em .6rem 0!important;
                &.active {
                    a {
                        color: $secondary;
                    }
                }
            }
        }
    }
    a{
        &.btn-corporate1 {
            margin-right: 20px;
        }
        &.mail {
            padding: 0 2rem 0 1.5rem;
            background: url('../img/all/ico-mail.svg') no-repeat 0 center;
        }
        &.tel {
            padding: 0 3rem 0 1.5rem;
            background: url('../img/all/ico-tel.svg') no-repeat 0 center;
        }
        &.linkedin {
            margin-left: 1rem;
        }
    }
    .person {
        padding: 0 3rem 0 1.5rem;
        background: url('../img/all/ico-person.svg') no-repeat 0 center;
    }
    img {
        margin: 20px 50px 0 0;
    
        &.logo-cluster {
         margin-top: -3em!important;
         @media (min-width: 376px) and (max-width: 768px) {
                margin-top: 1em !important;
            }

        }
        &.logo-wind2grid {
         margin: 0 5em 0 0 !important;
         @media(max-width: 990px) {
            width: 150px;
            margin-top: 2rem !important;
         }
        }
    }
}

//////////////////// Pantallas
main {
    //margen superior para que el menú fixed no tape contenido
    padding-top: 11.25rem;
}
//////////////////// Home

#home {
    .hero {
        .text-box {
            h1 {
                .blue {
                    color: $blueLight;
                }
            }
        }
        #carouselExampleIndicators2 {
            z-index: 1;
            max-width: 1255px;
        }
    }
    .carousel-item{
        .render {
            background: url('../img/home/product-bg.png') no-repeat center bottom / 94%;
            padding-bottom: 4rem;
            object {
                margin: 0 auto;
            }
        }
    }
    .carousel-control {
        position: absolute;
        height: 50px;
        width: 35%;
        top: 10%;
        left: 50%;
        z-index: 999;
    }
    .carousel-control-prev, .carousel-control-next {
        position: relative;
        left: auto;
        right: auto;
        display: inline-block;
        opacity: .9;
        background: transparent;
    }
}
//////////////////// Interior
.interior {
    .arrow-left {
        &:before {
            position: absolute;
            content: '';
            left: -1.6rem;
            top: 4rem;
            width: 1.5rem;
            height: 2.5rem;
            background: url(../img/all/arrow.svg) no-repeat center right;
        }
    }
    .arrowbig-left {
        &:before {
            position: absolute;
            content: '';
            left: -16vw;
            top: 4rem;
            width: 16vw;
            height: 2.5rem;
            background: url(../img/all/arrow2.svg) no-repeat center;
        }
    }
    .wp-list {
        a {
            min-height: 7rem;
        }
    }
    .technologies {
        .shadow {
           min-height: 280px;
        }
    }
 }
h6.wp7 {
    font-size: .95rem;
    line-height: 1.5rem;
}
.logos-wp7 {
    margin-top: 2rem;

    &:before {
        position: absolute;
        content: '';
        left: 15px;
        top: 38px;
        width: 75px;
        height: 2.5rem;
        background: url(../img/project/arrow-dark-blue.svg) no-repeat center;
    }
    img {
        max-width: 150px;
        mix-blend-mode: multiply;

        &.w-60{
            width: 60% !important;
        } 
    }

}
.hero{
        position: relative;
        .pdr0{
            padding: 0 !important;
        }
        .icos {
            color: $white;
            .ico{
                span   {
                    color: $white;
                }
            }
        }
        .keep{
            @media (min-width: 576px) and (max-width: 768px){
                width: 50%;
                float: right !important;
                margin-top: 0;
            }
        }
        .news{
            font-size: 1.2rem !important;
            margin-top: 3rem;
            @media (min-width: 576px) and (max-width: 768px){
                margin-top: 0 !important;
            }
        }
        .keep p{
            font-size: 1.2rem !important;
            line-height: 1.4rem;
        }
        .text-box {
            position: absolute;
            width:100%;
            bottom: 4rem;
            h1 {
                max-width: 955px;
                margin-top: 2rem;
                margin-bottom: 3rem;
                font-size: 2.5rem;
                font-weight: 600;
                color: $white;
                letter-spacing: 4px;

                @media (max-width: 990px) {
                    max-width: 720px;
                    font-size: 1.7rem!important;
                    line-height: 1.7rem;
                    letter-spacing:1px;
                }

                .small {
                    display: block;
                    font-size: .5em;
                    text-transform: initial;
                    font-weight: 500;
                    letter-spacing: 0;
                }
                strong {
                    color: $secondary;
                }
                .separador {
                    display: block;
                    margin-top: 2rem;
                    position:relative;
                }
                .separador::before {
                    content:'';
                    position: absolute;
                    width: 44px;
                    height: 2px;
                    background-color: white;
                    top: -16px;
                    left: 2px;

                    @media (max-width: 990px) {
                        background-color: $blueLight;
                    }
                }
            }
            p{
                color: $white;
                font-size: 1.1rem;
                &.scroll {
                    font-size: .85rem;
                    font-weight: 500;
                    position: absolute; 
                    right: 50px;
                    bottom: 50px;
                    margin: 0 0 0 0;
                    transform-origin: 0 0;
                    transform: rotate(-90deg);
                    &:after {
                        position:absolute;
                        content:'';
                        left: -1.3rem;
                        top: -.55rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        background: url(../img/all/scroll.svg) no-repeat center / 50%;
                        transform-origin: 0 0;
                        transform: rotate(90deg);
                    }
                }
                &.contact {
                    margin-top: 2rem;
                    a {
                        font-size: .85rem;
                        font-weight: 500;
                        letter-spacing: 2px;
                        color: $white;
                        background-color: $darkblue;
                        border: 1px solid $darkblue;
                        max-width: 320px;
                        text-transform: uppercase;
                        padding-top: 1.7rem;
                        padding-bottom: 1.7rem;
                        display: block;
                        position: relative;
                        transition: .3s;
                        @media (min-width: 576px) and (max-width: 991px){
                            margin-left: 0.75rem !important;
                            color: $primary;
                            border: 1px solid $darkblue;
                        }
                        &:after {
                            position:absolute;
                            content:'';
                            right: 1.5rem;
                            top: 1.2rem;
                            width: 2.5rem;
                            height: 2.5rem;
                            background: url(../img/all/arrow-white.svg) no-repeat center / 50%;
                            transition: .3s;
                            border: 1px solid $white;
                            border-radius: 10rem;
                            @media (min-width: 576px) and (max-width: 991px){
                                background: url(../img/all/arrow.svg) no-repeat center / 50%;
                                border: 1px solid $darkblue;
                            }
                        }
                        &:hover {
                            text-decoration: none;
                            color: $white;
                            background-color: transparent;
                            border-color: $secondary;
                            &:after {
                                right: 1.5rem;
                                border-color: $secondary;
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
        
    }
.news-home {
    display: block;
    font-size: 1.3rem;
    color: $darkblue;
    font-weight: 500;

    &:hover {
        text-decoration: none;
    }

    &::after {
        position:absolute;
        content:'';
        right: 2rem;
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 2rem;
        background: url(../img/all/arrow-orange.svg) no-repeat center / 50%;
        transition: .3s;
    }

    &:hover::after{
        right: 1.5rem;
    }
}
.banda-hero {
    background: $gradient-corporate3;
    p {
        color: white;
        font-weight: 500;

        &.small {
            font-size: .8rem;
            line-height: 1.5em!important;

            @media (max-width: 990px) {
                margin-top: 1rem !important;
            }
        }
    }
}
#consortium {
    .partner{
        float: left;
        width: 20%;
        &.seapower {
            .shadow{
                width: 200px;
                height: 200px;
                border: 1px solid $secondary;
            }
        }
        .ancho {
            max-width: 110px;
        }
        .alto {
            max-height: 70px;
        }
        &.mla {
            margin-left: 9%;
        }
        &.mlb {
            margin-left: 20%;
        }
        &.mlb2 {
            margin-left: 16%;
        }
        &.mlc {
            margin-left: 5%;
        }
        &.clearl-lg {
                clear: left;
            }
    }
}
#challenge {
    .graph {
        width: 85%!important;
        margin: 2rem auto;
    }
    .leyenda {
        margin-top: 2rem;
        align-self: center;
        p {
            margin-right: .7rem;
            padding-left: 1.5rem;
            align-self: center;
            font-size: .8rem;
        }
        p:nth-child(1)::before,
        p:nth-child(2)::before,
        p:nth-child(3)::before,
        p:nth-child(4)::before,
        p:nth-child(5)::before {
            content: url(../img/all/ico-linea-magenta.svg);
            position: relative;
            top: 10px;
            height: 30px;
            width: 30px;
            padding-right: 1rem;
        }
        p:nth-child(2)::before {
            content: url(../img/all/ico-dotted-azul.svg);
        }
        p:nth-child(3)::before {
            content: url(../img/all/ico-dotted-magenta.svg);
        }
        p:nth-child(4)::before {
            content: url(../img/all/ico-ids.svg);
        }
        p:nth-child(5)::before {
            content: url(../img/all/ico-documento.svg);
        }
        .no-item,
        li {
            padding-left: 0px;
            font-size: .9rem;
            color: #333333;
            font-weight: 500;
        }
        .no-item:nth-child(2)::before {
            display: none;
        }
        ul {
            padding-left: 0;
            list-style-position: outside;
            display: flex;
            margin-bottom: 0;

            @media (max-width:990px) {
            display: inline-block;
            }

            li {
                list-style: none!important;
                margin-left: 20px;
            }

            li:nth-child(1)::before,
            li:nth-child(2)::before,
            li:nth-child(3)::before {
                content: url(../img/all/ico-ids.svg);
                position: relative;
                top: 7px;
                height: 30px;
                width: 30px;
                padding-right: .5rem;
            }
            li:nth-child(2)::before {
                content: url(../img/all/ico-dotted-azul.svg);
                top: 10px;
            }
            li:nth-child(3)::before {
                content: url(../img/all/ico-documento.svg);
                top: 5px;
            }
        }
    }

    .icono-01 {
        &::before {
            content: url(../img/challenge/icono-turbina-profundidad.svg);
            position: absolute;
            top: 2rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 8rem;
        }
    }
    .icono-02 {
        &::before {
            content: url(../img/challenge/icono-profundidad.svg);
            position: absolute;
            top: 5rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 9.4rem;
        }
    }
    .icono-03 {
        &::before {
            content: url(../img/challenge/icono-material-innovador.svg);
            position: absolute;
            top: 4.5rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 9.4rem;
        }
    }
    .icono-04 {
        &::before {
            content: url(../img/challenge/icono-digitalizacion.svg);
            position: absolute;
            top: 4.5rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 9.4rem;
        }
    }
    .icono-05 {
        &::before {
            content: url(../img/challenge/icono-plataforma.svg);
            position: absolute;
            top: 3.5rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 9.4rem;
        }
    }
    .icono-06 {
        &::before {
            content: url(../img/challenge/icono-reduccion-costes.svg);
            position: absolute;
            top: 4.5rem;
            width: 48px;
            height: 94px;
        }
        p {
            margin-top: 9.4rem;
        }
    }
}
.owners,
.users {
    transition: .2s ease;

    @media (max-width: 990px) {
        margin-top: 12rem!important;
    }
    @media (max-width: 767px) {
        margin-top: 2rem!important;
    }
} 
.cloud-data {
    margin: 0 auto;
    background-image: url('../img/challenge/digital-interfaces-cloud.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 250px;
    height: 160px;
    text-align: right;

    @media (max-width:990px) {
        margin: -2rem auto 0 auto;
    }
    @media (max-width: 767px) {
        margin: 5rem auto;
    }

    .bg-white-round {
        position: relative;
        top: 1rem;
        right: -9rem;
        width: 100px;
        height: 100px;
        padding-top: 2.3rem;
        background-color: $primary;
        transition: .2s ease;

        @media (max-width: 1180px) {
            right: -5.5rem;
        }
        @media (max-width: 990px) {
            right: -6.5rem;
            top: 65%
        }
        @media (max-width: 767px) {
            right: 5rem;
            top: 109%;
        }
        p {
            text-align:center;
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: 600;
            line-height: 1rem;
            color: $white;
        }
    }

}
.cloud-data::before {
    content: url(../img/challenge/arrow-blue-light.svg);
    position: absolute;
    width: 50px;
    height: 16px;
    left: -7%;
    top: 110px;
    transition: .2s ease;

    @media (max-width: 990px) {
        left: -3%;
        top: 145px;
        transform: rotate(-45deg);
    }
    @media (max-width: 767px) {
        left: 46%;
        top: 39px;
        transform: rotate(90deg);
    }
}
.bg-white-round::after {
    position: absolute;
    width: 50px;
    height: 16px;
    left: 20%;
    top: 95px;
    transition: .2s ease;
    transform: none;

    @media (max-width: 990px) {
        left: -25px;
        top: 75px;
        transform: rotate(45deg);
    }
    @media (max-width: 767px) {
        left: -47px;
        top: 30px;
        transform: rotate(90deg);
    }
}
#news {
    .hero .main-news .text-box {
        position: relative;
        top: 0;
        bottom: auto;
        h1 {
            margin-top: 4rem;
            color: $gray;
        }
    }
    .desc{
        img { margin-bottom: 30px;}
    }
}
.newslist {
    .news{
        a{
            transition: .3s;
            h3 {
                transition: .3s;
            }
            &:hover {
                opacity: .9;
                box-shadow: 5px 5px 5px rgba(0,0,0, .1)!important;
                text-decoration: none;
                h3 {
                    color: $secondary;
                }
            }
        }
    } 
}
.past {
    margin: 1rem 0 0 0;
    a{
        margin: 1rem 0 0 0;
        padding: .3rem 2.5rem .3rem 0;
        background: url('../img/all/ico-past.svg') no-repeat right center;
        color: $secondary;
    }
} 
.newsMenu {
    a{
        &:hover {
            text-decoration: none;
            color: $secondary;
        }
        &.active {
            color: $secondary;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                height: 1px;
                width: 2rem;
                bottom: -.5rem;
                left: 40%;
                background: $primary;
            }
        }
    }
}
.main-news, .item-news {
    .summary {
        font-size: 1.2rem;
        color: $primary;
    }
    .date2 {
        padding: 4px 0 4px 24px;
        background: url('../img/all/ico-date.svg') no-repeat 0 center;
    }
    .place {
        padding: 4px 0 4px 22px;
        margin: 0 8px;
        background: url('../img/all/ico-place.svg') no-repeat 0 center;
    }
    .sharelink {
        margin-left: 8px;
    }
    .extras{
        margin: 40px 0;
        .descarga {
            padding: 4px 5% 14px 35px;
            background: url('../img/all/ico-download.svg') no-repeat 0 0;
            color: $primary;
            display: inline-block;
        }
    	.link{
            padding: 4px 5% 14px 35px;
            background: url('../img/all/ico-link.svg') no-repeat 0 0;
            color: $primary;
            display: inline-block;
        }
    }
}
.packageChart {
    .logos {
        max-width: 130px!important;
        width: 100%;
        padding: 0;
        height: auto;
        align-self: center;
    }
    p {
        font-size: 1.03rem;
        font-weight: 500;
    }
    a:hover {
        text-decoration: none!important;
    }
    .order-2 {
        order: 3;
    }
    .order-4 {
        order: 2;
    }

    @media (max-width: 991px) and (min-width: 768px) {
        .text-center {
            text-align: left!important;
        }
        .offset-md-3 {
            margin: 0 auto!important;
        }
        .order-2 {
            order: 2!important; 
        } 
    }
    @media (max-width:768px) {
        .col-md {
            margin-top: 1.5rem;
            mrgin-left: 0px;
        }
        .mr-ml {
            margin-left: 1rem!important;
            margin-right: 1rem!important;
        }
    }
}
.work-packs {
    transition: transform 0.2s ease;

    img {
        max-width: 120px;
    }

    &.arrow-right {
        position: relative;
        &:after {
            position: absolute;
            content:'';
            right: 0%;
            top: 62%;
            width: 45px;
            height: 11px;
            transform: rotate(90deg);
            transition: .3s;
            background: url(../img/all/arrow-orange.svg) no-repeat center bottom;
        }
    }
}
.work-packs:hover {
    transform: scale(1.02);

    &.arrow-right::after {
        top:70%;
    }
}
#project {
        @media (max-width: 990px) {
            .offset-md-8 {
                margin-left: 0%!important;
            }
            .position-sticky {
                bottom: 7rem!important;
            }
        }
    .arrowDownAfter {
        position: relative;
        margin-bottom: 66px;
        &:after {
            position: absolute;
            content:'';
            right: 50%;
            bottom: -66px;
            width: 11px;
            height: 66px;
            background: url(../img/project/arrow-down.svg) no-repeat center bottom;
        }
    }
    .arrowDownBefore {
        position: relative;
        margin-top: 66px;
        &:after {
            position: absolute;
            content:'';
            right: 50%;
            top: -66px;
            width: 11px;
            height: 66px;
            background: url(../img/project/arrow-down.svg) no-repeat center bottom;

            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    .arrowGreenRightAfter,
    .arrowYellowRightAfter,
    .arrowDarkBlueRightAfter,
    .arrowDarkBlueBottomAfter,
    .arrowDarkBlueLeftBefore,
    .arrowDarkBlueTopBefore,
    .arrowDarkBlueBottomNone {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        z-index: auto;
        &:after {
            position: absolute;
            z-index:5;
            content:'';
            right: -19%;
            top: 45%;
            width: 76px;
            height: 15px;
            background: url(../img/project/arrow-green-right.svg) no-repeat center center;
            
            @media (max-width: 990px) {
               display: none;
            }
        }
        &.arrow-margen::after {
                right:-30%;
        }
    }
    .arrowDarkBlueLeftBefore,
    .arrowDarkBlueTopBefore {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        &:before {
            position: absolute;
            z-index:5;
            content:'';
            right: -19%;
            top: 45%;
            width: 76px;
            height: 15px;
            background: url(../img/project/arrow-green-right.svg) no-repeat center center;
            
            @media (max-width: 990px) {
               display: none;
            }
        }
        &.arrow-margen::before {
                right:-30%;
        }
    }
    .arrowYellowRightAfter {
        @media (max-width: 990px) {
            margin-bottom: 4rem;
        }
        &:after {
            right: -25%;
            background: url(../img/project/arrow-yellow.svg) no-repeat center center;

            @media (max-width: 990px) {
                display: inline-block;
                left: 45%;
                top: 70%;
                width: 77px;
                height: 164px;
                transform: rotate(90deg);
            }
        }
    }
    .arrowDarkBlueRightAfter,
    .arrowDarkBlueBottomAfter,
    .arrowDarkBlueLeftBefore,
    .arrowDarkBlueTopBefore,
    .arrowDarkBlueBottomNone {
        min-height: 12rem;
        height: auto;
        transition: .2s ease;

        @media (max-width: 990px) {
            margin-bottom: 4rem;
        }
        &:after {
            right: -25%;
            background: url(../img/project/arrow-dark-blue.svg) no-repeat center center;

            @media (max-width: 990px) {
                display: inline-block;
                left: 40%;
                top: 80%;
                width: 77px;
                height: 164px;
                transform: rotate(90deg);
            }
        }
    }
    .arrowDarkBlueBottomAfter {
        &:after {
            top: 115%;
            right: 35%;
            transform: rotate(90deg);

            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    .arrowDarkBlueLeftBefore {
        &:after {
            display: none;

            @media (max-width: 990px) {
                display: block;
                top: 77%;
                right: 37%;
                background: url(../img/project/arrow-dark-blue.svg) no-repeat center center;
                transform: rotate(90deg);
            }
        }
        &:before {
            top: 44%;
            right: 100%;
            background: url(../img/project/arrow-dark-blue.svg) no-repeat center center;
            transform: rotate(180deg);
        }
    }
    .arrowDarkBlueTopBefore {
        &:after {
            display: none;

            @media (max-width: 990px) {
                display: block;
                top: 77%;
                right: 37%;
                background: url(../img/project/arrow-dark-blue.svg) no-repeat center center;
                transform: rotate(90deg);
            }
        }
        &:before {
            top: -23%;
            right: 37%;
            background: url(../img/project/arrow-dark-blue.svg) no-repeat center center;
            transform: rotate(-90deg);
        }
    }
    .arrowDarkBlueBottomNone {
        &:after {
            display: none;
        }
    }
    .arrowGreenBottomBefore,
    .arrowYellowBottomBefore{
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        &:before {
            position: absolute;
            z-index:5;
            content:'';
            right: 53%;
            top: 84%;
            width: 16px;
            height: 100px;
            background: url(../img/project/arrow-green-down.svg) no-repeat center center;
            
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    .arrowYellowBottomBefore {
        @media (max-width: 990px) {
            margin-bottom: 4.5rem;
        }
        &:before {
            right: 40%;
            top: 84%;
            width: 77px;
            height: 164px;
            transform: rotate(90deg);
            background: url(../img/project/arrow-yellow.svg) no-repeat center center;

            @media (max-width: 990px) {
                top: 70%;
                left: 45%;
                display: inline-block;
            }
        }
    }
    .arrowGreenLeftBefore {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        transition: 2s ease;
        &:before {
            position: absolute;
            z-index:5;
            content:'';
            left: -87%;
            top: 55%;
            width: 300px;
            height: 15px;
            background: url(../img/project/arrow-green-left.svg) no-repeat center center;

            @media (max-width: 1280px) {
                left: -100%;
            }
            @media (max-width: 990px) {
                 display: none;
            }
        }
    }
    .arrowYellow {
        display: inline-block;
        float: right;
        color: $workYellow;
        font-weight: 600;
        margin-right: 2rem;
        padding-left: 2.5rem;
        transition: .2s cubic-bezier(0.56, 0.09, 0.25, 1);
        background: url(../img/project/arrow-yellow.svg) no-repeat -49px 3px;

        &:hover{
            text-decoration: none;
            background: url(../img/project/arrow-yellow.svg) no-repeat -40px 3px;
        } 
    }
    .arrowGreen {
        display: inline-block;
        float: right;
        color: $workGreen;
        font-weight: 600;
        margin-right: 2rem;
        padding-left: 2.5rem;
        transition: .2s cubic-bezier(0.56, 0.09, 0.25, 1);
        background: url(../img/project/arrow-green-right.svg) no-repeat -49px 3px;

        &:hover{
            text-decoration: none;
            background: url(../img/project/arrow-green-right.svg) no-repeat -40px 3px;
        } 
    }
    .arrowPink {
        display: inline-block;
        float: right;
        color: $workPink;
        font-weight: 600;
        margin-right: 2rem;
        padding-left: 2.5rem;
        transition: .2s cubic-bezier(0.56, 0.09, 0.25, 1);
        background: url(../img/project/arrow-pink.svg) no-repeat -49px 3px;

        &:hover{
            text-decoration: none;
            background: url(../img/project/arrow-pink.svg) no-repeat -40px 3px;
        } 
    }
    .grafico {
        @media (max-width:990px) {
            max-width:80%;
            margin: 1rem auto;
        }
        @media (max-width:570px) {
            max-width:100%;
        }
    }
    &.small{
        line-height: .9rem;
    } 
    .line1 {
        position: relative;
        &:after {
            position: absolute;
            content:'';
            bottom: -42px;
            width: 100%;
            height: 42px;
            background: url(../img/project/arrow-post.svg) no-repeat center bottom;

            @media (max-width: 990px) {
                background: url(../img/project/arrow-post-2.svg) no-repeat center bottom;
            }
        }
        &:before {
            position: absolute;
            content:'';
            top: -42px;
            width: 100%;
            height: 42px;
            background: url(../img/project/arrow-pre.svg) no-repeat center bottom;

            @media (max-width: 990px) {
                background: url(../img/project/arrow-pre2.svg) no-repeat center bottom;
            }
        }
    }
    .arrow-horizontal {
        position: relative;
        &:after {
            position: absolute;
            content:'';
            top: 70px;
            right: -35px;
            width: 35px;
            height: 12px;
            background: url(../img/project/arrow-horizontal.svg) no-repeat center;
        }
        &:before {
            position: absolute;
            content:'';
            top: 70px;
            left: -33px;
            width: 35px;
            height: 12px;
            background: url(../img/project/arrow-horizontal.svg) no-repeat center;
        }
    }
    .zindex-2 {
        z-index: 2;
    }
}
.technology {
    min-height: 38rem;
}
.endTechnology {
    .textDestacado {
        position: relative;
    }
}
//////////////////// Contacto
#contact {
    .headquarters{
         p {
            padding-left: 2rem;
            margin-bottom: 0rem;
            font-size: 1rem;
            &.direction {
                background: url('../img/contacto/location.svg') no-repeat left 3px;
            }
            &.email {
                background: url('../img/contacto/email.svg') no-repeat left 8px;
                background-size: 20px;
            }
            &.tel {
                background: url('../img/contacto/tel.svg') no-repeat 3px 3px;
                background-size: 14px;
            }
            &.person {
                background: url('../img/contacto/ico-person.svg') no-repeat left 3px;
            }
        }
    }
    .form{
        label {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 2rem;
        }
        .checkbox {
            label {
                text-transform: none;
                letter-spacing: 0px;
                margin: 0;
            }
        }
        .consentinfo {
            color: $white;
            font-size: .8rem;
        }
        a, .required {
            color: $white;
        }
    }
	
	form{
		.form-control{
			background: $gray-100;
			border: none;
			height: 46px;
			&.inputBuscador {
				width: 20rem;
			}
			&.recaptcha{
				overflow: hidden;
				width: 290px;   /* note the embedded iframe is 302x76 */
				min-width:0px;
				height: 74px;
				padding:0;
				text-align: left;
				border: 0.09em solid #CBCBCB;
				margin: 0 auto;
				.g-recaptcha{
					width:304px;
					margin: 0 auto;
					div{
						height: auto;
						display: block;
						margin-right: auto;
						margin-left: auto;
					}
					&.has-error{
						background: #ffe5e8;
						border-bottom: 3px solid #c80d22;
						border-radius: 3px;
					}
				}
				iframe{
					position: relative;
					left: -6px;
					top: -1px;
				}
				&:hover{
					border-color: #9da9b1;
					outline: 0;
				}
				&.has-error{
					border-color: #c80d22;
					&:focus, &:hover{
						border-color: #980a1a;
					}
				}
			}
			&.mce-container{
				height:auto;
			}
		}
		.required{
			margin-bottom: 30px;
		}
		.file{
			padding: 12px 20px;
			border-radius: 8px;
			line-height: 1;
		}
		.opt-corporate1{
			background: $white;
			box-shadow: 2px 2px 2px $gray;
			color: $primary;
			border: none;
			padding: 0.5rem .75rem;
			&.active {
				background: $gray-100;
				border-bottom: 1px solid $secondary;
			}
		}
		textarea{
			min-height: 9rem;
		}
	}
}

.btn-corporate3 {
    color: white!important;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    background-image: $gradient-corporate1;
    border: 0px;
    &:hover{
        color: white!important;
        background-image: $gradient-corporate1;
    }
}



// Small devices (landscape phones, 576px and up)
@include media-breakpoint-down(md) {
    main {
        padding: 0;
    }
    //////////////////////// header
    header{ 
        nav{
            top: auto!important;
            bottom: 0!important;
            &.bg-white {
                background-color: $gray!important;
            }
            #logo {
                vertical-align: middle;
                margin: 1.5rem 0 1rem;
                a{
                    background-size: 100%;
                    width: 150px;
                    margin-left: .6rem;
                    background-image:  url('../img/all/logo-wind2grid-blanco.png');
                }
            }
            button {
                vertical-align: middle;
                float: right;
                margin: 1.2rem 1.5rem 0 0;
                color: $white!important;
            }
            .navbar-nav {
                padding: 0 0 0 1rem!important;
                margin: 0 0 1rem 0;
                a {
                    color: $white!important;

                }
                .active {
                    a{
                        &:after {
                            display: none;
                        }
                    }
                }
            }
            .navbar-aux {
                padding: 0 0 0 1rem!important;
                margin: 0;
            }
            .lang{
                margin: 1rem;
                a {
                    color: $white!important;

                }
            }
        }
    }
    .hero {
        .scroll {
            display: none!important;
        }
        .text-box {
            position: relative;
            bottom: auto;
            h1 {
                color: $gray;
            }
        }
    }
    .add {
        top: auto;
        bottom: -1rem;
        right: 50%;
    }
    .endTechnology .textDestacado:after {
        display: none;
    }
    footer {
        margin-bottom: 7rem;
    }
    .interior {
        .arrow-left, .arrowbig-left {
            &:before {
                display: none;
            }
        }
    }
    #consortium {
        .partner{
            width: 40%;
            margin-left: 5%;
            &.mla, &.mlb, &.mlb2, &.mlc  {
                margin-left: 5%;
                &.seapower {
                    margin-left: 32%;
                }
            }
            .shadow {min-height: 220px;}
            &.clearl-lg {
                clear: none;
            }
        }
    }
    #project {
        .arrowDownAfter {
            position: relative;
            margin-bottom: 66px;

            @media (max-width: 768px) {
                margin-bottom: 0;
            }

            &:after {
                position: absolute;
                content:'';
                right: 50%;
                bottom: -66px;
                width: 12px;
                height: 66px;
                background: url(../img/project/arrow-down.svg) no-repeat center bottom;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .arrowDownBefore {
            position: relative;
            margin-top: 66px;

            @media (max-width:768px) {
                margin-top: 1.5rem;
            }
            &:after {
                position: absolute;
                content:'';
                right: 50%;
                top: -66px;
                width: 12px;
                height: 66px;
                background: url(../img/project/arrow-down.svg) no-repeat center bottom;

                @media (max-width:990px) {
                    margin-top: 2rem;
                    top: -99px;
                }
            }
        }
        .line1 {
            &:after {
                background: url(../img/project/arrow-post-2.svg) no-repeat center bottom;

                @media (max-width: 768px) {
                    display: none;
                }
            }
            &:before {
                position: absolute;
                content:'';
                top: -42px;
                width: 100%;
                height: 42px;
                background: url(../img/project/arrow-pre-2.svg) no-repeat center bottom;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .arrow-horizontal {
            &:after {
                position: absolute;
                content:'';
                top: 70px;
                right: -35px;
                width: 35px;
                height: 12px;
                background: url(../img/project/arrow-horizontal.svg) no-repeat center;

                @media (max-width: 768px) {
                    display: none;
                }
            }
            &:before {
                position: absolute;
                content:'';
                top: 70px;
                left: -33px;
                width: 35px;
                height: 12px;
                background: url(../img/project/arrow-horizontal.svg) no-repeat center;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .arrow-mdTop {
            position: relative;
            &:before {
                display: none;
                position: absolute;
                content:'';
                top: -35px;
                left: 50%;
                width: 12px;
                height: 35px;
                background: url(../img/project/arrow-vertical.svg) no-repeat center;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .order-1 {
            order: 2;
        }
        .order-2 {
            order: 1
        }
        .offset-md-2 {
            margin-left: 1rem!important;
        }
    }
}



// Small devices (320px and up)
@include media-breakpoint-down(sm) {
    .btn-corporate1 {
        font-size: .7rem;
        padding: 0.8rem 4rem 0.8rem 2rem;
        &:after {
            width: 1.5rem;
            right: 2rem;
        }
    }
    h2 {
        font-size: 1.35rem;
        letter-spacing: 3px;
    }
    .banner .btn {
        margin: 0;
        float: none;
    }
    header nav .navbar-aux {
        padding: .3rem 0 .3rem 1rem !important;
        li {
            margin: 10px 0;
            a {
                font-size: .9rem
            }
        }
    }
    footer {
        .mail, .tel {
            display: block;
            margin-bottom: .4rem;
        }
    }
    .introDestacado {
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .list-arrow {
        padding-left: .5rem;
    }
    .hero {
        min-height: auto;
        .text-box {
            h1 {
                font-size: 1.9rem;
                margin-bottom: 0;
            }
            .contact a{
                max-width: 100%;
                color: $primary!important;
                border-color: $primary!important;
                background-color: transparent!important;
                &:after {
                    border-color: $primary!important;
                    background: url(../img/all/arrow.svg) no-repeat center/50%!important;
                    right: .5rem;
                }
            }
        }
    }
    #consortium {
        .partner{
            width: 90%;
            margin-left: 5%;
            &.mla, &.mlb, &.mlb2, &.mlc  {
                margin-left: 5%;
                &.seapower {
                    margin-left: 25%;
                }
            }
            .shadow {min-height: 220px;}
            &.clearl-lg {
                clear: none;
            }
        }
    }
    
}
// IE11 Corrections
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero{
        &.align-items-end {
            align-items: start!important;
            display: block!important;
            position: relative;
            .row{
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }
    .img-box img{
        width: 100%;
    }
    .btn {
        padding: 0.5em 2em;
    }
    header .navbar.menuPrincipal .navbar-nav .dropdown .dropdown-menu .submenu ul.submenu2cols li {
        width: 43.5%;
    }
}
  